@font-face {
  font-family: 'LuraFont';
  src: url('fonts/Chango-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LuraFont1';
  src: url('fonts/MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LuraFont2';
  src: url('fonts/MontserratAlternates-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LuraFont3';
  src: url('fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  color: #88605F;
  background: #F3E1DA;
  font-family: 'LuraFont', sans-serif;
}

/* ===== ШАПКА ===== */
.header {
  background: #88605F;
  padding: 15px 8%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left a,
.nav-right a {
  margin: 0 100px;
  text-decoration: none;
  color: #F3E0D9;
  font-size: 20px;
  font-family: 'LuraFont1';
}

.nav-logo {
  font-size: 55px;
  font-weight: bold;
  color: #F3E0D9;
}

.about-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px 20px;
}

.services-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px;
}

.booking-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
}

.booking-title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: -60px;
    font-size: 60px;
    color: #88605F;
    font-family: 'LuraFont2';
}

.form-group {
    margin-bottom: 30px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #88605F;
    font-size: 16px;
    font-family: 'LuraFont1';
}

.form-field {
    width: 100%;
    padding: 15px;
    border: 3px solid #88605F;
    border-radius: 8px;
    font-size: 15px;
    background-color: #F3E0D9;
}

.form-field:focus {
    outline: none;
    border-color: #88605F;
    background-color: #F3E0D9;
}

.submit-btn {
    width: 250px;
    padding: 16px;
    background-color: #88605F;
    color: #F3E0D9;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'LuraFont3';
    border-radius: 30px;
    margin: 10px auto 0; 
    display: block; 

}

.form-field {
    color: #88605F;
    font-family: 'LuraFont1';
}

.form-field::placeholder {
    color: #88605F;
}

select.form-field {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 16px;
    padding-right: 45px;
}

input[type="date"].form-field {
    position: relative;
}

input[type="date"].form-field::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== FOOTER ===== */
.footer {
    background-color: #88605F;
    color: #F3E0D9;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

/* Левая часть - ссылки */
.footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 40px;
    font-family: 'LuraFont1';
    margin-top: 20px;
}

.footer-links a {
    color: #F3E0D9;
    text-decoration: none;
}

/* Центральная часть - соцсети */
.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'LuraFont1';
    font-size: 20px;
    margin-top: -20px;
}

.footer-social p {
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-top: -20px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Правая часть - контактная информация */
.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'LuraFont1';
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-icon {
    flex-shrink: 0;
}