@font-face {
  font-family: 'LuraFont';
  src: url('fonts/Chango-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LuraFont1';
  src: url('fonts/MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LuraFont2';
  src: url('fonts/MontserratAlternates-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LuraFont3';
  src: url('fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  color: #88605F;
  background: #F3E1DA;
  font-family: 'LuraFont', sans-serif;
}

/* ===== ШАПКА ===== */
.header {
  background: #88605F;
  padding: 15px 8%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left a,
.nav-right a {
  margin: 0 100px;
  text-decoration: none;
  color: #F3E0D9;
  font-size: 20px;
  font-family: 'LuraFont1';
}

.nav-logo {
  font-size: 55px;
  font-weight: bold;
  color: #F3E0D9;
}

.about-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px 20px;
}

.services-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px;
}

/* Первый блок - 8 вертикальных фото в 2 строки */
.services-grid {
    margin-bottom: 80px;
}

.services-grid h1 {
    text-align: center;
    font-size: 60px;
    margin-top: -10px;
    color: #88605F;
    font-family: 'LuraFont2';
}

.services-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.service-item {
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: block;
}

.service-image {
    width: 100%;
    overflow: hidden;
}

.service-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Второй блок - 8 одинаковых по высоте фото */
.gallery-block {
    margin-bottom: 60px;
}

.gallery-block h2 {
    text-align: center;
    font-size: 60px;
    margin-top: -20px;
    color: #88605F;
    font-family: 'LuraFont2';
}

.gallery-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.gallery-item {
    height: 300px;
    border-radius: 50px;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/* ===== FOOTER ===== */
.footer {
    background-color: #88605F;
    color: #F3E0D9;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

/* Левая часть - ссылки */
.footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 40px;
    font-family: 'LuraFont1';
    margin-top: 20px;
}

.footer-links a {
    color: #F3E0D9;
    text-decoration: none;
}

/* Центральная часть - соцсети */
.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'LuraFont1';
    font-size: 20px;
    margin-top: -20px;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-top: -20px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Правая часть - контактная информация */
.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'LuraFont1';
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-icon {
    flex-shrink: 0;
}