@font-face {
  font-family: 'LuraFont';
  src: url('fonts/Chango-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LuraFont1';
  src: url('fonts/MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LuraFont2';
  src: url('fonts/MontserratAlternates-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LuraFont3';
  src: url('fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  color: #88605F;
  background: #F3E1DA;
  font-family: 'LuraFont', sans-serif;
}

/* ===== ШАПКА ===== */
.header {
  background: #88605F;
  padding: 15px 8%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left a,
.nav-right a {
  margin: 0 100px;
  text-decoration: none;
  color: #F3E0D9;
  font-size: 20px;
  font-family: 'LuraFont1';
}

.nav-logo {
  font-size: 55px;
  font-weight: bold;
  color: #F3E0D9;
}

/* ===== HERO ===== */
.hero {
  background: url("img/woman.png") center/cover no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  padding-left: 8%;
  color: #F3E0D9;
}

.hero-content h1 {
  font-size: 150px;
  margin: 0;
  color: #88605F;
}

.hero-content p {
  font-size: 30px;
  margin: 5px 0 70px;
  color: #88605F;
  font-family: 'LuraFont1';
}

.btn {
  padding: 12px 32px;
  background: #88605F;
  border-radius: 30px;
  color: #F3E0D9;
  text-decoration: none;
  font-family: 'LuraFont1';
  font-size: 25px;
}

/* ===== OFFERS ===== */

.offers-text {
    text-align: center;
    font-family: 'LuraFont2';
    font-size: 50px;
    margin-top: 20px;
}

.offers {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 80px 0;
}

.offer {
  text-align: center;
}

.offer img {
  border-radius: 25px;
  object-fit: cover;
  margin-bottom: 15px;
  margin-top: -100px;
}

/* ===== ABOUT ===== */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 80px 10%;
  background-color: #e2cec6;
}

.about-image img {
  width: 700px;
  border-radius: 25px;
  object-fit: cover;
}

.about-text h2 {
  font-size: 80px;
  margin-bottom: 20px;
  color: #88605F;
}

.about-text p {
  font-family: 'LuraFont3';
  font-size: 30px;
}

/* ===== FOOTER ===== */
.footer {
    background-color: #88605F;
    color: #F3E0D9;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

/* Левая часть - ссылки */
.footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 40px;
    font-family: 'LuraFont1';
    margin-top: 20px;
}

.footer-links a {
    color: #F3E0D9;
    text-decoration: none;
}

/* Центральная часть - соцсети */
.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'LuraFont1';
    font-size: 20px;
    margin-top: -20px;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-top: -20px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Правая часть - контактная информация */
.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'LuraFont1';
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-icon {
    flex-shrink: 0;
}
